body {
    text-align: center;
}

.btn{
    height: 200px;
    width : 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    
}

.yellow {
    background-color: #f5851c;
}

.red {
    background-color: #cf0340;
}

.green {
    background-color: #63aac0;
}

.purple {
    background-color: #eb44cf;
}

.flash {
    background-color: white;
}

.userflash {
    background-color: green;
}